:root {
  --color-background: rgb(22, 20, 20);
  --color-green: #0edf2e;
  --color-gray: rgb(192, 190, 190);
  --color-dark: #242325;
  --color-white: #fff;
  --color-custom: rgb(207, 207, 207);
  --font-xxxl:72px;
  --font-xxl: 64px;
  --font-xl: 56px;
  --font-l: 48px;
  --font-m: 40px;
  --font-s: 32px;
  --font-xs: 24px;
  --font-xxs: 18px;
  --font-xxxs: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
